html, body, h1, h2, p {
	margin: 0;

	font-family: sans-serif;
}

div {
	box-sizing: border-box;
}

h1.title {
	text-align: center;

	margin: 10px;
}

div.section_title {
	width: 50%;
	height: 45px;

	position: relative;
	top: -5px;
	left: calc(50% + 5px);

	border: 5px solid black;
}

div.section_title#first {
	background-color: #ff9999;
}

div.section_title#second {
	background-color: #ff1a1a;
}

div.section_title#third {
	background-color: #ffff66;
}


h2.section_title {
	text-align: center;

	font-size: 30px;
}

h2.section_title#second {
	color: white;
}

div.section {
	/* width: 31.5%; */
	height: 270px;

	margin: 5px;
	padding: 0;
	border: 5px solid black;

	float: left;
	background-color: gray;

	overflow: hidden;
}

p.dummy_text {
	font-size: 20px;

	margin: 5px;
	margin-top: 20px;
}

div.section#first {
	width: 98%;
}

div.section#second {
	width: 98%;
}

div.section#third {
	width: 98%;
}

@media only screen and (min-width: 768px) {
	/* tablet */

	div.section#first {
		width: 48%;
	}

	div.section#second {
		width: 48%;
	}

	div.section#third {
		width: 97%;
	}
}

@media only screen and (min-width: 992px) {
	/* desktop */

	div.section#first {
		width: 32%;
	}

	div.section#second {
		width: 32%;
	}

	div.section#third {
		width: 32%;
	}
}